node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store
.cache
coverage
.dist
.DS_Store
.vscode
.idea
.git
.gitignore
**/*.map
**/*.log
**/*.local.*
**/.env*
.env*
dist

# Exclude test-only files
src/tests
**/*.spec.*
**/*.test.*
